:root{
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --color-1: #000;
    --color-2: #121212;
    --color-3: #b3b3b3;
    --color-4: #fff;
    --color-5: #f0f0f0;
    --color-6: #242424;
    --color-7: #878787;
    --color-8: #e2e2e2;
    --color-9: #ae2896;
    --color-10: #509bf5;

    /* OTHER */
    --grid-gap: 24px;
    --column-count: 5;
    --min-container-width: 372px;
}